<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Title Here</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<script type="text/javascript" th:src="@{/js/jquery3.min.js}"></script>
</head>
<body>
	<div id="wrapper" class="toggled">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">

					<a class="navbar-brand" th:href="@{/}">
						<button type="button" id="menu-toggle" class="btn btn-link">
							<span class="glyphicon glyphicon-menu-hamburger"></span>
						</button> EyeManage
					</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a type="submit" th:href="@{/dashboard/logout}"
						class="btn btn-link"><span class="glyphicon glyphicon-off"></span>
							Logout</a></li>
				</ul>
			</div>
		</nav>

		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"><a href="#"> </a></li>
				<li><a th:href="@{/dashboard/home}"><span
						class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
				<li><a th:href="@{/dashboard/patient}"><span
						class="glyphicon glyphicon-user"></span> Patients</a></li>
				<li><a th:href="@{/dashboard/visit}"><span
						class="glyphicon glyphicon-list-alt"></span> Cases</a></li>
				<li><a href="#"><span
						class="glyphicon glyphicon-cog"></span> Settings</a>
					<hr /></li>
				<li><a href="#"><span class="glyphicon glyphicon-info-sign"></span>
						About</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-envelope"></span>
						Contact</a></li>
			</ul>
		</div>
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-header">
							<h2>Add a Patient</h2>
							<hr />
						</div>
						<!-- @{/dashboard/newVisit?(id=${patient.patientId})} -->
						<form action="#" method="post"
							th:action="@{/dashboard/newVisit/__${pId}__}"
							th:object="${newVisit}" class="form-horizontal">
							<div class="form-group">
								<label class="control-label col-sm-2"> Patient Id : </label>
								<div class="input-group col-sm-3">
									<p th:text="${pId}"></p>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-2"> Description : </label>
								<div class="input-group col-sm-3">
									<textarea rows="5" th:field="*{description}"
										class="form-control" placeholder="Enter Description"></textarea>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-2"> Fees : </label>
								<div class="input-group col-sm-3">
									<input type="text" th:field="*{fees}" class="form-control"
										placeholder="Enter Fees" />
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-4 col-sm-1">
									<input type="submit" value="Add" class="btn btn-success" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

</body>
</html>